{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolt</title>
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">


    <script type="module" src="{% static 'chat/js/main.js' %}"></script>
    <script type="module" src="{% static 'chat/js/chatHistoryLoad.js' %}"></script>


</head>

<body style="background: #1E1E2F;">
    <div class="container">
        <div id="sidebar">
            <div
                style="display: flex;align-items: center;justify-content: space-between; width: 90%; margin: auto;margin-top: 30px;">
                <h3 style="color: #CCCCCC;">Active users</h3>
            </div>
            <ul id="user-list"></ul>
        </div>

        <div id="chat-container">
            <div style="background-color: #252539;" id="messages"></div>

            <form id="message-form">
                <input type="text" id="message-input" placeholder="Type here..." autocomplete="off">
                <button type="submit">SEND</button>
            </form>
        </div>

        <div id="chat-wrapper"></div>

    </div>
</body>


</html>